<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>VueJS basic education</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="../styles.css"
    />
    <link rel="icon" href="../favicon.ico" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <h1>3. Watch 속성</h1>

    <div class="content">
      <!-- Section 01 -->
      <div id="section-01">
        <span>#1:</span>
        <br />
        <h5>입력 전/후 내용 표시:</h5>
        <input type="text" v-model="inputData" />
      </div>

      <br />

      <!-- Section 02 -->
      <div id="section-02">
        <span>#2:</span>
        <br />
        <h5>입력 내용을 표시하기:</h5>
        <input type="text" v-model="inputData" />
        <br />
        <br />
        <span>{{ resultData }}</span>
      </div>
    </div>

    <script src="app.js"></script>
  </body>
</html>
