<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>VueJS basic education</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="../styles.css"
    />
    <link rel="icon" href="../favicon.ico" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <h1>7. 리스트 렌더링</h1>

    <div class="content">
      <!-- Section 01 -->
      <div id="section-01">
        <h5 style="background-color: antiquewhite">리스트 데모 1:</h5>
        <ul>
          <li v-for="item in items">
            {{ item.message }}
          </li>
        </ul>
      </div>

      <br />

      <!-- Section 02 -->
      <div id="section-02">
        <h5 style="background-color: antiquewhite">
          리스트 데모 2: index 및 parent 데이터 사용
        </h5>
        <ul>
          <li v-for="(item, index) in items" :key="item.id">
            <span>{{ parentMessage }}</span>
            <span>인덱스: {{ index }}, 아이템 메시지: {{ item.message }}</span>
          </li>
        </ul>
      </div>
    </div>

    <div>
      <span
        style="font-weight: bold; background-color: antiquewhite"
        class="center"
      >
        Vue 'is' Directive
      </span>
      <img src="./code.JPG" class="center" />
    </div>

    <script src="app.js"></script>
  </body>
</html>
